<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wlvpn.slider.whitelabelvpn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-sdk tools:overrideLibrary="android.support.v17.leanback" />

    <application
        android:name=".ConsumerVpnApplication"
        android:allowBackup="false"
        android:banner="@mipmap/banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/WLVPNAppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="lollipop">

        <activity
            android:name=".activities.SplashActivity"
            android:banner="@mipmap/banner"
            android:label="@string/app_name"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MainActivity" />

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/WLVPNANoActionBar" />

        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wlvpn.slider.whitelabelvpn.activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wlvpn.slider.whitelabelvpn.activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.PopListActivity"
            android:label="@string/title_activity_location">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wlvpn.slider.whitelabelvpn.activities.MainActivity" />
        </activity>

        <activity android:name=".activities.CountryListActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wlvpn.slider.whitelabelvpn.activities.SettingsActivity" />
        </activity>

        <receiver android:name=".receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.SwitchServerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.wlvpn.slider.whitelabelvpn.action.SWITCH_SERVERS" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.VpnConnectionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.wlvpn.slider.whitelabelvpn.action.DISCONNECT" />
                <action android:name="com.wlvpn.slider.whitelabelvpn.action.CONNECT" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
